name: Gihub actions deploy

on:
  push:
    branches:
      - '*'
jobs:
  build:
    runs-on: ubuntu-latest 
    env:
      VITE_SOME_TEXT: ${{ vars.VITE_SOME_TEXT }}

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '20' 

    - name: Install Dependencies
      run: npm install

    - name: Run Unit Tests
      run: npm run test:unit

    - name: Build Project
      run: npm run build

    - name: Deploy to GitHub Pages
      if: ${{ success() }}
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./dist 